*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.kop .text{
    text-align: left;
    padding-left: -120px;
}
.kop .text .head{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.kop .text .subhead{
    font-size: 12px;
    text-align: center;
}
hr{
    width: 100%;
    height: 2px;
    margin: 10px 0px 3px 0px;
    background-color: black;
    color: black;
}
p{
    text-align: center;
    font-size: 12px;
    line-height:3px;
}
.table1 td{
    border: 1px solid #8f8f8f;
}
.table2 td{
    border: 1px solid #d4d2d2;
}
td{
    padding: 2px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
/* thead tr{
    border: 4px double black;
}
thead tr td{
    border: 4px double black;
} */
thead tr td{
    font-weight: bold;
    /* background-color: rgb(252, 214, 214); */
}
h3{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    line-height: 10px;
}
.bebas{
    font-family: 'Bebas Neue', cursive;
}
.bebas2{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}

small{
    font-size: 10px;
}
.no{
    width: 5%;
}
.ket{
    width: 35%;
}
.table1 td.nilai{
    width: 17%;
    border-bottom: 1px solid #8f8f8f;
}
tbody tr td{
    font-size: 10px;
    vertical-align: top;
}
.table1 td.nklaim{
    text-align: right;
    /* border: 0px; */
    border: 1px solid #8f8f8f;
    /* padding: 0px 10px; */
}
.table1 td.nklaim4{
    text-align: right;
    border: 0px;
    /* border: 1px solid #8f8f8f; */
    /* padding: 0px 10px; */
}
.table1 td.nklaim3{
    text-align: left;
    /* border: 0px; */
    border: 1px solid #8f8f8f;
    /* padding: 0px 10px; */
}
.table1 td.nklaim2{
    text-align: right;
}
.noborder{
    border: 0px;
}
.left{
    text-align: left;
}
.bold{
    font-weight: bold;
}
tfoot tr td{
    font-size: 10px;
    /* border-top: 0px; */
    /* font-weight: bold; */
}
.ttd table thead tr td{
    font-size: 9px;
}
.center{
    text-align: center;
}
.acc{
    width: 40%;
    border: 1px solid black;
    margin-top: 60px;
    float: right;
}
.acc .head{
    text-align: center;
    border: 1px solid black;
}
.acc .head h4{
    margin: 3px;
}
.acc .head h5{
    margin: 3px;
    font-weight: 400;
}
.border-top{
    border: 2px solid #d4d2d2;
    background-color: cornsilk;
}
.items2{
    border: 0px solid #d4d2d2;
}